# Configuración de Supabase (Autenticación y Base de Datos)
VITE_SUPABASE_URL=tu_url_de_supabase_aqui
VITE_SUPABASE_ANON_KEY=tu_anon_key_de_supabase_aqui

# Endpoints de la API Backend de .NET en Render
VITE_API_BASE_URL=https://focusflow-backend-yr16.onrender.com/
VITE_TICKET_HUB_URL=https://focusflow-backend-yr16.onrender.com/ticketHub